.banner{

    background-image: url("./backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;


}

p{
    text-transform: uppercase;
    color: white;
    text-align: left;
    font-size: 1.4em;
    width: 55%;
    margin-left: 20px;
    font-family: Kodchasan;
    padding-top: 50px;


}

.icon{
    color: white;
    text-align: left;
    margin-left: 20px;

}
h5{
    display: inline;
    margin-left: 3px;
    text-transform: uppercase;
    font-style: normal;
    font-family: Kodchasan;

}

.pipe{
    border-right: 1px solid white;
    color: crimson;
}
